/* Navbar principal */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e47db0;
    color: #fff;
    position: fixed; /* Mantém a navbar fixa no topo */
    top: 0; /* Fica no topo da página */
    left: 0; /* Alinhada à esquerda */
    right: 0; /* Alinhada à direita */
    z-index: 1000; /* Certifique-se de que a navbar esteja acima de outros elementos */
}

/* Logo */
.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Links da Navbar */
.nav-links ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.navbar nav ul li a:hover {
    color: #92e5ff; /* Cor no hover */
}

.menu-icon {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

/* Estilos de responsividade */
@media (max-width: 768px) {
    /* Esconder os links de navegação por padrão */
    .nav-links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #e47db0;
        padding: 10px;
        border-radius: 8px;
    }

    /* Exibir o ícone do menu */
    .menu-icon {
        display: inline-block;
    }

    /* Exibir o menu quando o checkbox estiver marcado */
    .menu-toggle:checked + .menu-icon + .nav-links ul {
        display: flex;
    }
}


/* Estilo de rodapé */
footer {
    background-color: #e47db0;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para os ícones das redes sociais */
.wrapper .icon {
    position: relative;
    background: #5aadce;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #015ace;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}